<div class="auth-main">
  <div class="auth-wrapper version-1">
    <div class="auth-form">
      <div class="auth-background">
        <div class="yellow-circle"></div>
        <div class="red-circle"></div>
      </div>
      <div class="main-form">
        <app-card [showHeader]="false" class="auth-form-card" [padding]="40">
          <div class="text-center">
            <h1>Event Planner</h1>
          </div>

          <h4 class="text-center m-b-25 f-20 f-w-500">Sign up with your email.</h4>
          <div class="row text-start">

            <div class="col-12">
              <label for="username" class="f-w-500">Username</label>
              <mat-form-field appearance="outline" class="w-100 m-t-5">
                <input id="username" type="text" matInput placeholder="Username" [(ngModel)]="username" />
              </mat-form-field>
            </div>

            <div class="col-12">
              <label for="email" class="f-w-500">Enter Your Email</label>
              <mat-form-field appearance="outline" class="w-100 m-t-5">
                <input id="email" matInput [formControl]="email" placeholder="Email Address" required />
                <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-12">
              <label for="password" class="f-w-500">Enter your password</label>
              <mat-form-field appearance="outline" class="w-100 m-t-5">
                <input id="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" [(ngModel)]="password" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>
            </div>

            <div class="col-12">
              <label for="confirmPassword" class="f-w-500">Enter your Confirm Password</label>
              <mat-form-field appearance="outline" class="w-100 m-t-5">
                <input id="confirmPassword" matInput [type]="coHide ? 'password' : 'text'" placeholder="Confirm your password" [(ngModel)]="confirmPassword" />
                <button mat-icon-button matSuffix (click)="coHide = !coHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="coHide">
                  <mat-icon>{{ coHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>
            </div>

           
          </div>

          

          <div class="grid">
            <button mat-flat-button color="primary" class="b-rad-20 m-t-15" (click)="register()">Register</button>
          </div>

          <div class="check-me m-t-15">
            <h6 class="f-w-400 text-muted m-b-0">Already have an Account?</h6>
            <a class="text-primary-500" [routerLink]="['/auth/login']">Login Account</a>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>
