<div class="invite-page">
  <h1 class="title">Invite Users</h1>
  <h2 class="subtitle">to: {{ eventName }}</h2>

  <div class="tabs">
    <button class="tab-btn" [class.active]="activeTab === 'users'" (click)="activeTab = 'users'">Invite Attendees</button>
    <button class="tab-btn" [class.active]="activeTab === 'collabs'" (click)="activeTab = 'collabs'">Add Collaborators</button>
  </div>

  <app-card [padding]="25">

    <!-- USERS TAB -->
    <div *ngIf="activeTab === 'users'">
      <mat-form-field appearance="outline" class="w-100">
        <input matInput [(ngModel)]="userEmail" placeholder="Enter user email" />
      </mat-form-field>
      <button mat-flat-button color="primary" class="full-btn submit-btn" (click)="sendInviteUser()">
        Invite User
      </button>
      <!--Invited Users List -->
      <h3 class="m-t-20">Invited Users</h3>
      <div *ngIf="!invitedUsers.length" class="empty">No users invited yet.</div>
      <ul *ngIf="invitedUsers.length" class="invited-users-list">
        <li *ngFor="let u of invitedUsers">
            {{ u.user_email }} ({{ u.status | titlecase }})
        </li>
      </ul>
      
      <button mat-button class="full-btn back-btn" (click)="goBack()">Back to Events</button>

    </div>

    <!-- COLLABORATORS TAB -->
<div *ngIf="activeTab === 'collabs'">
  <mat-form-field appearance="outline" class="w-100">
    <input matInput [(ngModel)]="collabEmail" placeholder="Enter collaborator email" />
  </mat-form-field>
  <button mat-flat-button color="primary" class="full-btn submit-btn" (click)="saveCollaborator()">
    Assign Collaborator
  </button>

  <!-- Collaborators List -->
  <h3 class="m-t-20">Collaborators</h3>
  <div *ngIf="!collaborators.length" class="empty">No collaborators added yet.</div>
  <ul *ngIf="collaborators.length" class="collaborators-list">
    <li *ngFor="let c of collaborators">
      {{ c.user_email }}
    </li>
  </ul>

  <button mat-button class="full-btn back-btn" (click)="goBack()">Back to Events</button>
</div>


  </app-card>
</div>
