.create-wrapper {
  padding: 30px;
  max-width: 700px;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
  color: #444;
}

.field-group {
  margin-top: 15px;
}

.submit-btn {
  margin-top: 25px;
  width: 100%;
  border-radius: 20px;
}

.back-btn {
  width: 100%;
  margin-top: 10px;
}
